*.R~
*.r~
*~
.gitignore~
*.png
.Rhistory
*#
.#*
*.pdf
*.aux
*.log
*.tex
*.Snw~
*.sqlite
*.bz2
*.mgf
.RData
*.dvi
.Rproj.user
.Rbuildignore
findMFDIA.Rproj
inst
man
.roxygen
deprec
core
*synctex.gz
NAMESPACE

