*.out
*.zip
*.txt
*.R~
*.r~
*~
.gitignore~
*.png
.Rhistory
*#
.#*
*.pdf
*.aux
*.log
*.tex
*.Snw~
*.sqlite
*.bz2
*.mgf
.RData
*.dvi
*.tsv
*.csv
*.sql
.Rproj.user
.Rbuildignore
findMFDIA.Rproj
.roxygen
deprec
core
*synctex.gz
playground
