S3method(colnames,msexperiment)
S3method(correctIntRT,default)
S3method(correctIntRT,msexperiment)
S3method(dim,msexperiment)
S3method(keepRTRange,msexperiment)
S3method(orderByRT,msexperiment)
S3method(read2msExperiment,data.frame)
S3method(read2msExperiment,default)
S3method(removeDecoys,msexperiment)
S3method(subset,msexperiment)
export(NormalizePQMatrixWithHouseKeepingProtein)
export(NormalizeWithMedianPQMatrix)
export(altmanbland)
export(colnames.msexperiment)
export(convert2msExperiment)
export(convertLF2Wideformat)
export(correctIntRT)
export(deprec.read2msExperiment)
export(getMolfun)
export(imagelabels)
export(keepRTRange)
export(myheat)
export(mypairs)
export(myvolcanoplot)
export(orderByRT)
export(pairsQQ)
export(pairsRatio)
export(pvalCorMat)
export(read2msExperiment)
export(removeDecoys)
export(rmNarows)
export(robustscale)
export(split2table)
export(subset)
export(uppertriang)
