S3method(correctIntRT,default)
S3method(correctIntRT,msexperiment)
S3method(dim,msexperiment)
S3method(filter,msexperiment)
S3method(length,msexperiment)
export(NormalizePQMatrixWithHouseKeepingProtein)
export(NormalizeWithMedianPQMatrix)
export(altmanbland)
export(colnames.msexperiment)
export(computeBoost)
export(computeBoost2)
export(correctIntRT)
export(createGraph)
export(filter)
export(getMolfun)
export(imagelabels)
export(myheat)
export(mypairs)
export(orderByRT.msexperiment)
export(pairsQQ)
export(pairsRatio)
export(plotGraph)
export(plotGraph2)
export(plotGraphAnn)
export(read2matrixExport)
export(removeRTRanges)
export(rmNarows)
export(selectSignificant)
export(split2table)
